.panel{
  height: 200px;
  width: 35%;
}

.input-panel{
  height: 225px;
  display: inline-block;
}

.output-panel {
  height: 225px;
  display: inline-block;
}

.readingTextArea {
 height: 100%;
 width: 250px; 
}

.writingTextArea {
 height: 100%;
 width: 250px;
}

.title {
  display: block;
  padding-top: 5%;
  padding-left: 20%;
}
