<!DOCTYPE html>
<html ng-app="blocksApp">
<head>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script> 
</head>
<body ng-controller="BlocksController" >
	<link href="css/main.css" rel="stylesheet"/>
    <header class="title">RBW</header>
  <div class="input-panel">
      <textarea ng-model="input" ng-list="/\n/" ng-trim="false" class="readingTextArea" placeholder="Insert the line by line the moves, the 1st line should have the number of blocks"></textarea>
		</div>
		<div class="output-panel">
            <textarea ng-model="output" class="writingTextArea" readonly>{{output}}</textarea>
        </div>
    </div>
    <button ng-click="parse(input)">Submit</button>
    <script src="app.js"></script>
</body>
</html>
